---
import HeadAnalyticsTags from "./HeadAnalyticsTags.astro";
interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const {
  title = "Astro webSite title",
  description = "Astro website description",
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<meta name="description" property="og:description" content={description} />
<title>{title}</title>

<!-- Font files here -->

<!-- Inline Script here -->
<HeadAnalyticsTags />
